body {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

footer {
  color: #3e887e;
  margin-top: 35px;
}

h1 {
  font-size: 70px;
  margin-top: 150px;
  margin-left: -80px;
}

li {
  list-style: none;
  text-align: center;
}

.btn-primary {
  background: #99e2b4 !important;
  border-color: #99e2b4;
  color: #000000 !important;
}

.footer {
  text-decoration: none;
  color: #99e2b4;
}

.navbar-nav {
  justify-content: center;
}

#art {
  margin-top: 60px;
  color: #3e887e;
  font-weight: bold;
}

#art-pic {
  margin-top: 100px;
}

#art-app {
  margin-top: 75px;
}

#headline {
  font-family: Lora !important;
  color: #3e887e;
}

#navigation {
  background-color: #99e2b4 !important;
}

#nav-pic {
  border-radius: 50%;
}

#photo2 {
  border-radius: 50%;
  margin-top: 85px;
  margin-left: -215px;
  border: 5px solid #99e2b4;
}

#weather-app {
  margin-top: 75px;
}

#weather-des {
  margin-top: 100px;
}
