body {
  margin: 0 auto;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

footer {
  color: #b5838d;
  margin-top: 20px;
  margin-top: 10px;
  font-size: 14px;
}

h1 {
  font-size: 70px;
}

li {
  list-style: none;
  text-align: center;
}

p {
  color: #473b5b;
}

.btn-primary {
  background: #473b5b !important;
  border-color: #473b5b !important;
  color: #e5989b !important;
}

.btn-primary:hover {
  border-color: #473b5b;
  transform: translateY(-5px);
  box-shadow: 0px 5px 8px 2px #b5838d;
  transition: all 200ms ease-in-out;
}

.call-button {
  border-radius: 10px;
  background: #473b5b;
}

.call-me {
  text-decoration: none;
  color: #fff;
}

.call-me:hover {
  color: #ffb4a2;
}

.contact-header {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  font-size: 50px;
  max-width: 50%;
  color: #e5989b;
}

.contact-footer {
  font-size: 50px;
  color: #ffb4a2;
  font-family: Lora !important;
  font-weight: bold;
  margin-top: 20px;
}

.contact-section {
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
}

.design-imgs {
  display: block;
  margin: 0 auto;
  justify-content: center;
}

.footer {
  text-decoration: none;
  color: #ffb4a2;
}

.header {
  color: #b5838d;
}

.media-body {
  color: #473b5b;
}

.navbar-nav {
  justify-content: center;
}

.nav-link {
  color: #e5989b;
  font-weight: bold;
}

#about-me {
  max-width: 80ch;
  margin: 0 auto;
  color: #473b5b;
}

#bts-app-one {
  margin: 0 auto;
  margin-left: 60px;
}

#bts-app-two {
  margin: 0 auto;
  margin-top: -30px;
}

#bts-des {
  text-align: center;
  margin-top: 90px;
  color: #ffb4a2;
  max-width: 80ch;
}

#clock-app {
  margin-top: 60px;
  margin: 0 auto;
  margin-left: 60px;
}

#clock-des {
  margin-top: 130px;
  color: #ffb4a2;
}

#contact-icons {
  align-items: center;
}

#contact-btn {
  background: #473b5b !important;
  border-color: #473b5b !important;
  color: #e5989b !important;
}

#contact-btn:hover {
  border-color: #473b5b;
  transform: translateY(-5px);
  box-shadow: 0px 5px 8px 2px #b5838d;
  transition: all 200ms ease-in-out;
}

#design {
  color: #e5989b;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 15px;
}

#footer-btns {
  max-width: fit-content;
  margin: 0 auto;
  display: inline-block;
}

#headline {
  font-family: Lora !important;
  color: #e5989b;
  margin: 0 auto;
}

#name {
  cursor: default;
  color: #fff;
}

#navigation {
  background-color: #473b5b !important;
}

#nav-pic {
  border-radius: 50%;
  cursor: default;
}

#photo2 {
  border-radius: 50%;
  margin-top: 85px;
  margin: 0 auto;
  margin-top: 50px;
}

#weather-app {
  margin-top: 60px;
  margin-left: 60px;
}

#weather-app-two {
  margin: 0 auto;
}

#weather-des {
  margin-top: 200px;
  color: #ffb4a2;
}
